<div class="windows" @change="onChange">
    <ui-prop v-if="pkgOptions.renderBackEnd"
        :class="pkgErrorMap.renderBackEnd ? 'danger' : ''"
        :message="pkgErrorMap.renderBackEnd"
    >
        <ui-label slot="label" value="i18n:windows.options.render_back_end"></ui-label>
        <div slot="content">
            <ui-checkbox
                path="renderBackEnd.vulkan"
                :value="pkgOptions.renderBackEnd.vulkan"
            >VULKAN</ui-checkbox>
            <ui-checkbox
                :value="pkgOptions.renderBackEnd.gles3"
                @change.stop="onGLES23Change"
            >GLES 2/3</ui-checkbox>
            <div style="padding-left: 16px" v-if="pkgOptions.renderBackEnd.gles3">
                <div>
                    <ui-checkbox
                        value="true"
                        disabled
                    >GLES3</ui-checkbox>
                </div>
                <div>
                    <ui-checkbox
                        path="renderBackEnd.gles2"
                        :value="pkgOptions.renderBackEnd.gles2"
                    >GLES2</ui-checkbox>
                </div>
            </div>
        </div>
    </ui-prop>
    <ui-prop v-if="pkgOptions.vsData" >
        <ui-label slot="label" value="i18n:windows.options.cmakeGenerators"></ui-label>
        <div slot="content">
            <ui-select :value="pkgOptions.vsData"
            path = "vsData"
            >
                <option
                    v-for="item in vsData"
                    :value="item.value"
                >
                    {{item.name}}
                </option>
            </ui-select>
            <ui-button @confirm="onVsData" @change.stop>{{t("options.refresh")}}</ui-button>
        </div>
    </ui-prop>
</div>
