<main>

    <section>
        <h1>Standard</h1>

        <ui-layout direction="column">
            <ui-layout>
                <ui-prop>
                    <span slot="label">String</span>
                    <div slot="content">
                        <ui-input></ui-input>
                    </div>
                </ui-prop>
            </ui-layout>
            <ui-layout>
                <ui-prop>
                    <span slot="label">String</span>
                    <div slot="content">
                        <ui-input></ui-input>
                    </div>
                </ui-prop>
            </ui-layout>
            <ui-layout>
                <ui-prop>
                    <span slot="label">String</span>
                    <div slot="content">
                        <ui-input></ui-input>
                    </div>
                </ui-prop>
            </ui-layout>
        </ui-layout>

        <ui-layout direction="row">
            <ui-layout>
                <ui-prop>
                    <span slot="label">String</span>
                    <div slot="content">
                        <ui-input></ui-input>
                    </div>
                </ui-prop>
            </ui-layout>
            <ui-layout>
                <ui-prop>
                    <span slot="label">String</span>
                    <div slot="content">
                        <ui-input></ui-input>
                    </div>
                </ui-prop>
            </ui-layout>
            <ui-layout>
                <ui-prop>
                    <span slot="label">String</span>
                    <div slot="content">
                        <ui-input></ui-input>
                    </div>
                </ui-prop>
            </ui-layout>
        </ui-layout>

    </section>
</main>