<div class="wrap">
    <ui-section class="config section" expand header="i18n:ui-kit.preview.initialize">
        <div class="row">
            <ui-label value="Hello"></ui-label>
            <ui-label value="i18n:scene.title"></ui-label>
            <ui-code language="html">
                &lt;ui-label value="Hello"&gt;&lt;/ui-label&gt;
                &lt;ui-label value="i18n:scene.title"&gt;&lt;/ui-label&gt;
            </ui-code>
        </div>
       
        <div class="row">
            <h2>i18n</h2>
            <ui-label i18n>scene.title</ui-label>
            <ui-code language="html">
                &lt;ui-label i18n&gt;scene.title&lt;/ui-label&gt;
            </ui-code>
        </div>
    </ui-section>

    <ui-section class="config section" expand header="i18n:ui-kit.preview.parameters">
        <div class="row">
            <h2>Attributes</h2>
            <ui-code language="typescript">
                value
                i18n
            </ui-code>
        </div>
    </ui-section>
</div>
