<div class="wrap">
    <ui-section class="config section" expand header="i18n:ui-kit.preview.initialize">
        <div class="row">
            <ui-markdown>
                # 标题一
                - 任务一
                - 任务二
            </ui-markdown>
            <ui-code language="html">
                &lt;ui-markdown&gt;
                    # 标题一
                    - 任务一
                    - 任务二
                &lt;/ui-markdown&gt;
            </ui-code>
        </div>
    </ui-section>

    <ui-section class="config section" expand header="i18n:ui-kit.preview.parameters">
        <div class="row">
            <h2>Attributes</h2>
            <ui-code language="typescript">
                src // set md file path to parse
            </ui-code>
        </div>
    </ui-section>
</div>
