<div class="wrap">
    <ui-section class="config section" expand header="i18n:ui-kit.preview.initialize">
        <div class="row">
            <h2>value</h2>
            <div>
                <ui-progress class="mb-10"></ui-progress>
                <ui-progress value="60" class="mb-10"></ui-progress>
                <ui-progress value="100"></ui-progress>
            </div>
            <ui-code language="html">
                &lt;ui-progress&gt;&lt;/ui-progress&gt;
                &lt;ui-progress value="60"&gt;&lt;/ui-progress&gt;
                &lt;ui-progress value="100"&gt;&lt;/ui-progress&gt;
            </ui-code>
        </div>

        <div class="row">
            <h2>percent</h2>
            <div>
                <ui-progress percent class="mb-10"></ui-progress>
                <ui-progress value="100" percent ></ui-progress>
            </div>
            <ui-code language="html">
                &lt;ui-progress percent&gt;&lt;/ui-progress&gt;
                &lt;ui-progress value="100" percent&gt;&lt;/ui-progress&gt;
            </ui-code>
        </div>

        <div class="row">
            <h2>success</h2>
            <div>
                <ui-progress value="60" success></ui-progress>
            </div>
            <ui-code language="html">
                &lt;ui-progress value="60" success&gt;&lt;/ui-progress&gt;
            </ui-code>

            <h2>failure</h2>
            <div>
                <ui-progress value="60" failure></ui-progress>
            </div>
            <ui-code language="html">
                &lt;ui-progress value="60" failure&gt;&lt;/ui-progress&gt;
            </ui-code>
        </div>
    </ui-section>

    <ui-section class="config section" expand header="i18n:ui-kit.preview.parameters">
        <div class="row">
            <h2>Attributes</h2>
            <ui-code language="typescript">
                value
                percent
                success
                failure
            </ui-code>
        </div>
    </ui-section>
</div>